.top-bar {
    color: white;
    background-color: #1b1c1d;
    width: 100%;
    min-height: 3vh;
    position: fixed;
    z-index: 10;
}

.ui.menu .item {
    color: rgba(255,255,255,.5)!important;
    font-size: 0.85rem;
    margin: 0!important;
}

.ui.menu .item:hover {
    color: rgba(255,255,255, 1)!important;
}

.side-nav {
    background-color: #3b3b3b!important;
    height: 100vh;
    padding-top: 5vh;
    position: fixed;
}

.side-item {
    font-size: 1.5rem!important;
    padding-right: 0.85rem!important;
    padding-left: 0.85rem!important;
}

.bottom-bar {
    color: white;
    // background-color: #38afff!important;
    width: 100%;
    height: 2vh!important;
    position: fixed;
    bottom: 0!important;
    z-index: 10;
}

.ui.menu .item .bottom-item {
    color: white!important;
    font-weight: 400!important;
    padding: 0 0.8rem!important;
}

.panes {
    height: 100vh;
    padding: 3vh 0 3vh 5vw;
}